@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.nav_header {
  position: fixed;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  background-color: rgb(250, 250, 250);
  padding: 2rem;
  box-shadow: 0px 4px 6px rgba(122, 122, 122, 0.1);

}

.nav_header div {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav_header div img {
  height: 3vh;
}

.nav_header div h1 {
  font-weight: 500;
  color: #014B8E;
  font-size: 20px;
}

.nav_header button {

  background-color: #FB671B;
  border-radius: 12px;
  outline: none;
  border: none;
  padding: .6rem 2rem;
  color: white;
  font-weight: 600;
}

.heroSection {
  position: relative;
  height: 60vh;
  width: 100%;
  background-color: rgb(112, 169, 255, .19);
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heroSection_custom{
  width: 100%;
  height: 70vh; /* Hace que el div ocupe toda la altura de la pantalla */
  background-image: url('./assets/Group75.png'); /* Ruta de la imagen */
  background-size: cover; /* La imagen se expande para cubrir todo el div */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita la repetición */

}

.heroTextGroup {
  margin-top: 8vh;
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.heroTextHeader{
  color: #fff;
  font-size: 40px;

}

.heroText{
  font-size: 14px;

  color: #fff;
}

.womenPhoto{
  position: absolute;
  bottom: 0;
  right: 4rem;
}


.generalPage{
  width: 100%;
  height: 100vh;
  display: flex;
}

.designRegister{
  padding: 2rem;
  position: relative;
  width: 45%;
  height: 100%;
  background-color: #d0eeff;

}

.regiterPhoto{
  position: absolute;
  height: 60%;
  bottom: 0;
}

.logoRegister{
  height: 4vh;
}

.textDesign{
  margin-top: 4rem;
  text-align: center;
  font-size: 40px;
  color: #014B8E;
}

.spanText{
  color: black;
  font-size: 24px;
}



/* Contenedor principal */
.form-container {
  max-width: 40%;
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Título */
.form-title {
  color: #002d72;
  font-size: 20px;
  font-weight: bold;
}

.form-title-sub{
  margin-top: .6rem;
margin-bottom: 1rem;
  color: #000000;
  font-size: 14PX;
  font-weight: bold;
}


/* Campos de entrada */
.campo {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  text-align: left;
}

.campo label {
  font-size: 14px;
  color: #666;
  margin-bottom: 12px;
}

.campo input,
.campo select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  transition: border 0.3s;
}

.campo input:focus,
.campo select:focus {
  border: 1px solid #007bff;
  outline: none;
}

/* Botón de envío */
.btn-submit {
  background-color: #ff7300;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 12px;
  border: none;
  border-radius: 12px;
  width: 100%;
}

.pointsValue{
background-color: #0030B3;
color: white;
padding: 6px 24px;
border-radius: 12px;
}

.welcomeSection{
  padding: 2rem;
  padding-top: 10vh;
  color: #888888;
}
.greeting{
  color: #002d72;
  font-size: 36px;
  margin-bottom: 1rem;
}

.modulesRow{
  display: flex;
  gap: 3rem;
}

.indicator{
  width: 120px;
  background-color: #002d72;
  border-radius: 12px;
  height: 2px;
}

.modulesSection{
  padding: 2rem;
}
.cardsGroup{
  padding: 1rem 0;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 0 0 16px 0;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: center;
  overflow: hidden; /* Asegura que los bordes recortados se apliquen */
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.moduleImage {
  width: 100%; /* Ocupa todo el ancho */
  height: 150px; /* Altura fija para mantener el diseño */
  object-fit: cover; /* Recorta la imagen sin deformarla */
  border-top-left-radius: 12px; /* Bordes redondeados solo arriba */
  border-top-right-radius: 12px;
}

.title {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
  color: #002d72;
}

.points {
  font-size: 14px;
  color: #555;
}
.buttonEnter{
  margin-top: 12px;
  background-color: #FB671B;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  width: 80%;
  padding: 6px 0;
}

.custom-card {
  width: 400px;
  display: flex;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0 16px 0 0;
  background-color: #fff;
}

.custom-module-image {

  height: 160px;
  border-radius: 8px 0 0 8px;
}

.custom-content {
  flex: 1;
  margin-left: 16px;
}

.custom-title {
  margin-top: 8px;
  font-size: 18px;
  font-weight: bold;
}

.custom-subtitle {
  font-size: 14px;
  color: gray;
}

.custom-info {
  display: flex;
  gap: 2rem;
  margin: 8px 0;
}

.custom-info-item {
  display: flex;
  align-items: center;
}

.custom-info-item span {
  margin-left: 6px;
}

.custom-points {
  font-size: 16px;
  color: #0056b3;
  font-weight: bold;
}

.custom-button {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #0056b3;
}

.flex{
  display: flex;
  gap: 2rem;
}


.custom-navbar {
  height: 6vh;
  font-size: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, 
      #0030B3 0%, 
      #182BAD 25%, 
      #6B1899 63%, 
      #BE0584 81%, 
      #FB671B 100%);
  padding: 16px;
  color: white;
  align-items: center;
}


.buttonRegister{
  display: flex;
  gap: .6rem;
  align-items: center;
  width: fit-content;
  padding: 6px 12px;
  color: white;
  background-color: #ff7300;
  border: none;
  border-radius: 12px;
}

.buttonRegister p {
  margin: 0;
}


/* card de niveles */
.cardsLevels{
  display: flex;
  gap: 1rem;
  position: absolute;
  bottom: -90px;
}
.business-card {
  display: flex;
  width: 400px;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #FF6F00;
}

.business-card-diamante{
  border: 1px solid #DE146B;

}

.business-card-blue{
  border: 1px solid #0030B3;

}

.business-image {
  width: 50%;
  object-fit: cover;
  filter: brightness(80%);
}

.business-content {
  width: 50%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.badge {
  width: fit-content;
  background-color: #FF6F00;
  color: white;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
  display: inline-block;
  margin-bottom: 8px;
}
.badge_diamante{
  background-color: #DE146B;
}

.badge_blue{
  background-color: #0030B3;

}

h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 8px 0;
}

p {
  font-size: 14px;
  margin: 0 0 8px 0;
}

.business-time {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: #666;
}
.sectionTemplate{
  padding: 2rem 4rem;
}
.categorieSection{
  margin-top: 6rem;
}


.titleCategories{
  font-size: 22px;
  color: rgb(0, 0, 0, .73);
  margin-bottom: 1rem;
}


.module-border-wrap {
  width: fit-content;
  border-radius: 12px;
  max-width: 250px;
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, #1551F0,#DE146B , #DE146B);
  padding: 3px;
}

.module {
  width: fit-content;
  border-radius: 12px;
  background: #fff;
  color: #1551F0;
  padding: 6px 12px;}


  .titleFijas{
    font-size: 73px;
    color: rgb(0, 0, 0, .73);
  }
  .spanFijas{
    color: #DE146B;
  }
.subFijas{
  font-size: 23px;
  color: #566172;
}

.sectionCenter{
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.descubreImage{
  width: 90%;
}

.column{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name{
  text-align: center;
color: #DE146B;
font-size: 22px;
}

.city{
  text-align: center;

  font-size: 16px;
}

.avatar{
  height: 172px;
}

.generalSection{
  padding: 3rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexrow{
  display: flex;
  flex-direction: row;
}

.titleTop{
  font-size: 24px;
  color: rgb(0, 0, 0, .73);
  font-weight: 500;
}

.subTop{
  font-size: 22px;
  margin-bottom: 2rem;
}